#staff{
  margin-top: 10px;
}

.stfrow{
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5vw;
  text-decoration: none;
  margin: auto;
  border: 2px solid black;
  height: fit-content;
  background-color: white;
}
.stftext{
  margin-left: -9vw;
  display: flex;
  flex-direction: column;
  font-size: 3.5vh;
  text-decoration: none;
  max-width: 50vw;
  z-index: 1;
  background-color: gainsboro;
  border-radius: 10%;
  padding: 1vw;
  border: 2px solid black;
}
h3{
  text-shadow: -2px 2px 0 darkgray;
  font-family: 'Arvo', serif;
  color: black;
}
li{
  font-size: smaller;
  color: black;
  z-index: 2;
}
.stfimg{
  max-height: 40vh;
  width: auto;
  max-width: 50vw;
  z-index: 1;
}
#noterow{
  height: fit-content;
  padding: none;
}
#topicnote{
  padding-top: 0;
  max-width: 90%;
  margin: auto;
}

@media (max-width:800px) {
  .stfrow{
    height: fit-content;
    width: 95vw;
    text-decoration: none;
    flex-direction: column;
  }
  .stftext{
    display: flex;
    margin-left: 0;
    margin-top: 3vh;
    font-size: 4vh;
    text-decoration: none;
    max-width: none;
    width: 90vw;
  }
  #waltrow{
    flex-direction: column;
  }
  #elirow{

    flex-direction: column-reverse;
  }
  .stftext h3{
    text-shadow: -1px 1px 0 black;
    font-family: 'Arvo', serif;
    left: 5vw;
  }
  li{
    font-size: smaller;
  }
  .stfimg{
    max-width: 80vw;
    max-height: 60vh;
    z-index: 0;
    margin-top: 3vh;
  }
}